{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}

<div>
    <div class="job_detail" style="width:50%; margin: auto auto;">

        <img src="{{ target_wanted.image.url }}" alt="" style="height: 30rem; width: 100%; object-fit: cover;">

        <div class="wanted_main_context">
            <h4> {{ target_wanted.job }} </h4>
            <h6> {{ target_wanted.company }} <span> | {{ target_wanted.work_place }} · {{ target_wanted.country }}</span></h6>
        </div>

        <hr>

        <div class="wanted_detail_context">
            {{ target_wanted.content }}
        </div>

        <hr>

        <div class="wanted_sub_context">
            <h6><span class="header">마감일</span><span class="body">{{ target_wanted.end_date | date:"Y.m.d"}}</span></h6>
            <h6><span class="header">근무장소</span><span class="body">{{ target_wanted.address }}</span></h6>

            <div class="company_box">
                <button type="button">
                    <div class="box_logo" style="background-image: url('{{ target_wanted.image.url }}');"></div>

                    <div class="box_context">
                        <h5> {{ target_wanted.company}} </h5>
                        <h6> IT, 컨텐츠</h6>
                    </div>
                </button>

                <button type="button">
                    <a href="#" class="btn btn-primary">
                        팔로우
                    </a>
                </button>
            </div>
        </div>

        <hr>

        <div style="text-align: center;">
            <a href="{% url 'wantedapp:update' pk=target_wanted.pk %}"
               class="btn btn-primary rounded-pill col-3">
                Update Wanted
            </a>
        </div>

    </div>
</div>


{% endblock %}