{% extends 'base.html' %}
{% load bootstrap4 %}


{% block content %}

<style xmlns="http://www.w3.org/1999/html">

</style>

{% if wanted_list %}
    <div class="job_container" style="width:80%">
        <ul class="job_list">
        {% for wanted in wanted_list %}
            <li style="width:180px; height:330px;">
<!--                <div style="display:inline-block; width:200px; height:270px;">-->
                <div>
                    <a href="{% url 'wantedapp:detail' pk=wanted.pk %}">
                        <header style="display:inline-block; width:180px; height:150px;
                                        background-image: url({{ wanted.image.url }}); background-size:100% 100%;">
                        </header>
                        <div class="job-card-content" style="height: 150px;">
                            <div class="job-card-position">{{ wanted.job }}</div>
                            <div class="job-card-company">{{ wanted.company }}</div>
                            <div class="job-card-location">
                                <span>{{ wanted.country }}</span>
                                <span> - </span>
                                <span>{{ wanted.work_place }}</span>
                            </div>
                            <div class="job-card-reward">채용보상금 : {{ wanted.compensation }}원</div>
                        </div>
                    </a>
                </div>
            </li>
        {% endfor %}
        </ul>
    </div>
{% else %}
    <div class="text-center">
        <h1>No Wanted YET!!!</h1>
    </div>
{% endif %}

    <div class="text-center">
        <a href="{% url 'wantedapp:create' %}" class="btn btn-dark">
            Create Wanted
        </a>
    </div>



{% endblock %}