{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}

<div>
    <div class="text-center">
        <h4>
            Update Wanted
        </h4>
    </div>

    <div class="text-center">
        <form action="{% url 'wantedapp:update' pk=target_wanted.pk %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input type="submit" class="btn btn-primary">
        </form>
    </div>
</div>


{% endblock %}