.wanted_header {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

.wanted_header_logo {
    font-size: 2rem;
    font-family: NanumSquareOTFExtraBold;
    margin-left: 3rem;
}

.wanted_header_nav {
    font-weight: bold;
    margin: 0 1rem;
}

.wanted_header_profile {
    margin-right: 3rem;
}

.wanted_footer {
    width: 50%;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
}

.job_container {
    margin: 3rem auto;
}

.job_list {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    list-style: none;
    width: 100%
}

.job_list > li {
    margin: 0 1.3rem;
}

.job-card-content>div {
    margin: .2rem
}

.job-card-position{
    font-size: 1.2rem;
    font-weight: bold;
}

.job-card-company{
    font-size: 1rem;
    font-weight: bold;
}

.job-card-location{
    font-size: .9rem;
    color: gray;
}

.job-card-reward{
    font-size: 0.8rem;
}

.job_detail > img {
    margin: 1rem 0rem;
}

.wanted_main_context > * {
    margin: 1rem 0rem;
}

.wanted_main_context h4 {
    font-weight: bold;
}

.wanted_main_context h6 {

}

.wanted_main_context span {
    color: gray;

}

.wanted_sub_context span {
    display: inline-block;
    margin: 0.3rem 0;
    font-weight: bold;
}

.wanted_sub_context .header{
    width: 7rem;
    color: gray;
}

.company_box {
    border: 1.5px solid #B7B7B7;
    border-radius: 0.2rem;
    display: flex;
    justify-content: space-between;
}

.company_box button {
    border: none;
}

.box_logo {
    display: inline-block;
    height:3rem;
    width:3rem;
    background-size: contain;
    margin: 0 1rem;
}

.box_context {
    display: inline-block;
    text-align: left;
}

.box_context h5 {
    font-size: 0.9rem;
    font-weight: bold;
}

.box_context h6 {
    color: gray;
    font-size: 0.8rem;
    font-weight: bold;
}
