<!DOCTYPE html>
<html lang="ko">

{% include 'head.html' %}

<!--<body>-->
<body style="font-family: 'NanumSquareOTFRegular', Arial;">
    {% include 'header.html' %}

    {% block content %}

    {% endblock %}

    {% include 'footer.html' %}
</body>

</html>