<div class="wanted_footer text-center" style="margin:3rem auto;">
    <a href="" alt="" style="text-align:left">
        <!-- Need Image -->
        wanted
    </a>

    <a href="">
        이용약관
    </a>

    <a href="">
        개인정보 처리방침
    </a>

    <a href="">
        고객센터
    </a>

    <a href="">
        투자정보
    </a>
</div>