<div class="wanted_header">

    <div class="wanted_header_logo">
        <a href="" alt="">
            <!-- Need Image -->
            wanted
        </a>
    </div>

    <div class="wanted_header_nav_list">
        <a href="{% url 'wantedapp:list' %}" class="wanted_header_nav">
            탐색
        </a>

        <a href="" class="wanted_header_nav">
            커리어 성장
        </a>

        <a href="" class="wanted_header_nav">
            직군별 연봉
        </a>

        <a href="" class="wanted_header_nav">
            이력서
        </a>

        <a href="" class="wanted_header_nav">
            매치업
        </a>

        <a href="" class="wanted_header_nav">
            프리랜서
        </a>
    </div>

    <div class="wanted_header_profile">
        <a href="">
            My Page
        </a>
    </div>

</div>