{% load static %}

<head>
    <meta charset="UTF-8">
<!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
    <title>Wanted</title>

    <!-- Bootstrap Link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <!-- Base CSS Link -->
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">


    <style>
        @font-face {
            font-family: 'NanumSquareOTFBold';
            src: local('NanumSquareOTFBold'),
            url("{% static 'fonts/NanumSquareOTFBold.otf' %}") format("opentype");
        }

        @font-face {
            font-family: 'NanumSquareOTFExtraBold';
            src: local('NanumSquareOTFExtraBold'),
            url("{% static 'fonts/NanumSquareOTFExtraBold.otf' %}") format("opentype");
        }

        @font-face {
            font-family: 'NanumSquareOTFLight';
            src: local('NanumSquareOTFLight'),
            url("{% static 'fonts/NanumSquareOTFLight.otf' %}") format("opentype");
        }

        @font-face {
            font-family: 'NanumSquareOTFRegular';
            src: local('NanumSquareOTFRegular'),
            url("{% static 'fonts/NanumSquareOTFRegular.otf' %}") format("opentype");
        }
    </style>
</head>